<div class="card">
  <div class="card-head">
    <h1 class="title">{{ yearMonth }}</h1>
    <div class="card-button">
      <button type="button" (click)="onToday()">Hoy</button>
      <img
        (click)="changeMonth(-1)"
        src="../../../../assets/icons/arrow-left.svg"
      />
      <img
        (click)="changeMonth(1)"
        src="../../../../assets/icons/arrow-rigth.svg"
      />
    </div>
  </div>

  <div class="card-body">
    <div class="grid-head">
      <span class="grid-head-item" *ngFor="let day of week">{{
        day | slice: 0:1
      }}</span>
    </div>

    <div class="grid-container">
      <ng-container *ngFor="let a of monthSelect; first as first">
        <ng-container *ngIf="changeModo; else inputCheckbox">
          <input
            type="radio"
            name="day"
            [id]="a.day"
            class="input-control-checkbox"
            [checked]="a.status"
          />
        </ng-container>

        <label
          class="grid-items"
          [style.gridColumnStart]="first ? a?.Week : 'auto'"
          [for]="a.day"
          (click)="onDay(a.date, $event)"
          >{{ a?.day }}</label
        >
        <ng-template #inputCheckbox>
          <input type="checkbox" [id]="a.day" class="input-control-checkbox" />
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
