<div class="container">
  <app-calendario></app-calendario>
  <br />
  <div class="table">
    <div class="row-header">
      <div class="cell">Especialidad</div>
      <div class="cell">Cupos</div>
    </div>
    <div class="row">
      <div class="cell">PEDIATRIA</div>
      <div class="cell">30</div>
    </div>
    <div class="row">
      <div class="cell">PEDIATRIA</div>
      <div class="cell">30</div>
    </div>
    <div class="row">
      <div class="cell">PEDIATRIA</div>
      <div class="cell">30</div>
    </div>
  </div>
  <br />
  <div class="table">
    <div class="row-header">
      <div class="cell">Medico</div>
      <div class="cell">Turno</div>
    </div>
    <div class="row">
      <div class="cell">ABURTO</div>
      <div class="cell">MAÑANA</div>
    </div>
    <div class="row">
      <div class="cell">ABURTO</div>
      <div class="cell">MAÑANA</div>
    </div>
    <div class="row">
      <div class="cell">ABURTO</div>
      <div class="cell">MAÑANA</div>
    </div>
  </div>
</div>
